.video-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  
  .video-nav-title h1 {
    margin: 0; /* Remueve el margen predeterminado del h1 */
    font-size: 24px; /* Ajusta el tamaño del título según sea necesario */
  }
  
  .video-nav-buttons {
    display: flex; /* Esto alinea los botones a la derecha */
  }
  
  .nav-button {
    background-color: transparent; /* Fondo transparente */
    color: #000; /* Texto negro */
    border: 1px solid transparent; /* Borde transparente para mantener el tamaño del botón constante */
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    
    border-radius: 20px; /* Esquinas redondeadas */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave para el hover */
   
  }
  
  .nav-button:hover {
    background-color: #e8e8e8; /* Color de fondo al pasar el mouse */
    border-color: #e8e8e8; /* Color del borde al pasar el mouse */
  }
  
  .nav-button:focus {
    outline: none;
  }
  
  .video{
    border-radius: 20px;
    min-width: 80vw;
    min-height: 93vh;
    margin-bottom: 5vh ;
    
  }