@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.morado-invictum {
  background-color: #030A1C; /* Fondo morado */
  color: #FFFFFF; /* Texto blanco */
}

.color-gris-fondo {
  background-color: #F4F6FD;
}

.hide-scroll {
  overflow: hidden;
}
.anchoVideo {
  max-width: 80vw;
}
